/* @link https://utopia.fyi/grid/calculator?c=316,16,1.5,1116,18,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

.m-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.m-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.m-grid--side-by-side {
	grid-template-columns: 1fr 1fr;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.flex-container > * {
  height: 20vh;
  color: #fff;
  background-color: #000;
  flex-grow: 1;
  flex-basis: calc((40rem - 100%) * 999);
  margin: 1rem;
}

.flex-container > :nth-last-child(n+5),
.flex-container > :nth-last-child(n+5) ~ * {
  flex-basis: 100%;
}
