.mote-button {
	display: inline-block;
	border-style: solid;
	border-width: 0.44rem;
	border-radius: 0.44rem;
	font-weight: 600;
	letter-spacing: 0.11rem;
}

.mote-button--primary {
	border-color: var(--primary);
	background-color: var(--primary);
}

.mote-button--secondary {
	border-color: var(--secondary);
	background-color: var(--secondary);
}

.mote-button--success {
	border-color: var(--success);
	background-color: var(--success);
}

.mote-button--warning {
	border-color: var(--warning);
	background-color: var(--warning);
}

.mote-button--danger {
	border-color: var(--danger);
	background-color: var(--danger);
}

.mote-button--info {
	border-color: var(--info);
	background-color: var(--info);
}

.mote-button--outline {
	background-color: var(--light);
	outline: 0.44rem dotted var(--dark);
	outline-offset: -0.44rem;
}

.mote-button--disabled {
	opacity: 0.6;
	border-color: var(--dark);
	background-color: var(--light);
	text-decoration: line-through;
}

.mote-button--subtle {
	border-color: transparent;
	background-color: var(--light);
}

.mote-button--small {
	font-size: var(--step-0);
	padding: var(--step--2) var(--step--2);
}

.mote-button--medium {
	font-size: var(--step-0);
	padding: var(--step--2) var(--step-1);
}

.mote-button--large {
	font-size: var(--step-1);
	padding: var(--step--1) var(--step-2);
}
