/* Parent - div.mote-button */

.mote-button {
	display: inline-block;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.11rem;
	border-radius: 1rem / 2.35rem;
}

.mote-button--outline {
	border-radius: 0.44rem;
}

.mote-button--outline::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-image-source: repeating-linear-gradient(
		to right,
		transparent 0 25%,
		var(--light) 25% 75%,
		transparent 75% 100%
	);
	border-image-width: 0.68rem;
	border-image-slice: 25% 50% 25% 50%;
	border-image-repeat: round stretch;
}

/* Children - button */
.mote-button > button {
	letter-spacing: inherit;
	border-color: inherit;
	border-style: solid;
	border-radius: inherit;
}

.mote-button--disabled {
	filter: grayscale(100%);
}
/* Sizes */
.mote-button--small {
	font-size: var(--step-0);
	padding: var(--step--2);
}

.mote-button--medium {
	font-size: var(--step-0);
	padding: var(--step--2) var(--step-1);
}

.mote-button--large {
	font-size: var(--step-1);
	padding: var(--step--1) var(--step-2);
}
